<div class="cards-container">
  <div class="row">


    <% @jokes.each do |joke| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="joke-card">
        <div class="card-main text-center">
          <div class="joke-title">
            <%= joke.title %>
          </div>
          <div class="joke-rating">
            <%= "â­ï¸" * joke.rating.to_i %>
          </div>
        </div>
        <div class="joke-category-author text-center">
          <%= joke.category %> by <br> <%= joke.user.email.split('@').first %>
        </div>
        <div class="corner-button"></div>
        <div class="joke-answer">
          <p class="blurry-text"><%= joke.description %></p>
          <%= link_to 'Buy', admin_joke_bought_jokes_path(joke), :class => "btn buy-button", method: :post %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
