<div class="new-edit-container">
  <h2>Sign up</h2>

  <div class="form-container">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <%= f.input :username, required: true, placeholder: 'username', label_html: { class: 'icons user-icon' } %>
        <%= f.input :email, required: true, autofocus: true, placeholder: 'email', label_html: { class: 'icons envelope-icon' } %>
        <% if @minimum_password_length %>
        <%= f.input :password, required: true, placeholder: "password (#{@minimum_password_length} chars minimum)", label_html: { class: 'icons lock-icon' } %>
        <% end %>
        <%= f.input :password_confirmation, :placeholder => "confirm password", label_html: { class: 'icons lock-icon' } %>
        <%= f.button :submit, "Sign up", class: "form-button" %>
    <% end %>
  </div>
</div>
