<h2><%= @bought_joke.joke.title %></h2>
<p><%= @bought_joke.joke.description %></p>
<p><%= ('â­' * @bought_joke.joke.rating) if @joke.rating %></p>
<p><%= @joke.bought_joke.user.email %></p>
<p><strong><%= bought_joke.@joke.category %></strong></p>
